.projectAnim {
  animation-name: openProjectAnim;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes openProjectAnim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
